#mainNav {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: white;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
    // img {
    //   width: 100%;
    // }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: $primary;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      img {
        width: 150%;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
          border: 1px solid transparent;
          margin-right: 5px;
          &:hover{
            border: 1px solid $logo-azul;
            margin-right: 5px;
            border-radius: 20px;
            color: $logo-azul;
          }
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: white;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
        img {
            width: 100%;
          }
      }
    }
  }
}
